root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_size = 4

# C# style rules (Roslyn / .editorconfig)
csharp_prefer_braces = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning

[*.md]
trim_trailing_whitespace = false
